<div class="row">

	<div class="col-md-3">
		<p class="lead">Burgers To Eat</p>
		<div class="list-group">
			{{#each burger}}
				{{#unless this.devoured}}
					<a href="/eat/{{this.id}}" class="list-group-item">{{this.burger_name}}</a>
				{{/unless}}
			{{/each}}
		</div>
	</div>

	<div class="col-md-6">

		<div class="thumbnail">
			<div class="caption-full">
				<h4><a href="#">Create a Burger</a>
				</h4>
				<div class="">
					<form action="/create" method="post">
						<input type="text" placeholder="Burger name..." name="name">
						<button type="submit">Create Burger</button>
					</form>
				</div>
			</div>
		</div>

	</div>

	<div class="col-md-3">
		<p class="lead">Burgers Eaten</p>
		<div class="list-group">
			{{#each burger}}
				{{#if this.devoured}}
					<a href="#" class="list-group-item">{{this.burger_name}}</a>
				{{/if}}
			{{/each}}
		</div>
	</div>

</div>